.catalog {
  display: grid;
  justify-content: center;
  gap: 48px;
  margin: 0 auto;

  @media (max-width: 487px) {
    grid-template-columns: $grid-template-columns;
  }

  @media (min-width: 487px) and (max-width: 767px) {
    grid-template-columns: repeat(2, $grid-template-columns);
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    grid-template-columns: repeat(3, $grid-template-columns);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, $grid-template-columns);
  }

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
